<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ServiceProviderCatalog</title>
    <link rel="stylesheet" type="text/css" href="/oslc/services/css/catalog.css">
</head>
<body>
    <div class="nav">
        <nav id="main-nav">
            <ul>
                <li><a th:href="${catalog.getAbout()}">Catalog</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">


        <h2>Service Providers</h2>
        <table>
            <tr>
                <td><b>This document</b>:</td>
                <td><a th:href="${catalog.getAbout()}">
                    <span th:text="${catalog.getAbout().toString()}"></span>
                </a></td>
            </tr>
        </table>



        <tbody id="service-table">
            <tr th:each="s:${catalog.getServiceProviders()}">
                <td><h2>Service Provider for Product <span th:text="${s.getTitle()}"></span></h2></td>
                <td><p><a th:href="${s.getAbout()}"><span th:text="${s.getAbout()}"></span></a></p></td>
            </tr>
        </tbody>
    </div>
</body>
</html>