<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Small Preview</title>
    <style>
        .container {
            position: absolute;
            top: 5px;
            left:5px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
        }
        .item {
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="item"><strong>Identity:</strong> <span th:text="${resource.getIdentity()}"></span></div>
    <div class="item"><strong>Labels:</strong>
        <ul th:if="${resource.labels.isEmpty() == false}">
            <li th:each="label : ${resource.labels}" th:text="${label}"></li>
        </ul>
        <span th:if="${resource.labels.isEmpty()}">No labels.</span>
    </div>
    <div class="item">
        <strong>Properties:</strong>
        <dl th:if="${resource.properties.isEmpty() == false}">
            <div th:each="entry : ${resource.properties}">
                <ul>
                 <span th:text="${entry.key}"></span> : <span th:text="${entry.value}">Value</span>
                </ul>
            </div>
        </dl>
        <span th:if="${resource.properties.isEmpty()}">No properties.</span>
    </div>
</div>
</body>
</html>
